
@import "base/reset";
@import "base/var";
@import "base/base";
@import "layout/layout";
@import "../component/game-nav/game-nav";
@import "../component/island-image/island";
@import "../component/location/location";
@import "../component/player-stats/player-stats";
