html {
  background: $brand-white;
}

body {
  max-width: 800px;
  margin: 2vw auto;
  font-family: $brand-font-primary;
}

input {
  width: 100%;
  height: 4vw;
  font-size: 3.5vw;
  font-family: $brand-font-secondary;
  margin: 2vw 0;
}

h1 {
  font-size: 4vw;
}
