$brand-brown: #85735B;
$brand-green: #649343;
$brand-tan: #DBBB82;
$brand-blue: #297F90;
$brand-white: #DBDBD6;
$brand-font-primary: 'helvetica';
$brand-font-secondary: monospace;
$btn-primary: #2C3E50;
$btn-hover: #2C3E50 * 1.5;
$btn-primary-font-color: #fff;
$btn-hover-font-color: #fff;
$white: #fff;
$black: #000;
$box-std: 30%;
$box-max: 100%;
$gutter-std: 2%;
$gutter-sm: $gutter-std / 2;
$gutter-lg: $gutter-std * 2;
