.game-nav {
  width: 100%;
  background: $brand-tan;
  padding: 2vw 0;
  margin: 1vw 0;
}

header {
  background: $brand-blue;

  h1 {
    padding: 2vw;
  }
}

.player {
  max-height: 414px;
  background: $brand-green;
  height: 100%;
  float: left;
  width: 25%;
  margin: 0 0 0 1vw;
}

.clearfix {
  clear: both;
}
